@model IEnumerable<denemeProje.Models.Model.Blog>



@foreach (var item in Model)
{
    <li>
        <img src="@item.ResimURL" class="pull-left" alt="@item.Baslik" />
        <h6><a href="/Home/BlogDetay/@item.BlogId">@item.Baslik</a></h6>
        <p>
            @Html.Raw(item.İcerik.Substring(0,120))...<a href="/Home/BlogDetay/@item.BlogId">Devamını Okuyun</a>
        </p>
    </li>

}


