@model denemeProje.Models.Model.Hakkimizda



@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/Home/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    
                    <li class="active">Hakkımızda</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="col-md-12">
        <h4>BBB Hukuk Bürosu Hakkında</h4>
        <img src="~/Content/SiteLayout/img/dummies/dummy-1.jpg" alt="" class="align-left img-box img-responsive" />
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>


</div>



