@model denemeProje.Models.Model.Hakkimizda



@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="container">
    <div class="col-md-12">
        <h4>BBB Hukuk Bürosu Hakkında</h4>
        <img src="~/Content/SiteLayout/img/dummies/dummy-1.jpg" alt="" class="align-left img-box img-responsive" />
        <p>
            @Html.Raw(Model.Aciklama)
        </p>
    </div>


</div>



